div(style="height: 50vh" class="container rounded-none md:rounded-lg mx-auto relative overflow-hidden mb-4")
    img(src=article.img, alt=article.title style="height: 70%" class="w-full object-cover absolute top-0 rounded-none md:rounded-lg")
    div(class="block w-full h-full rounded-none md:rounded-lg absolute bottom-0" style="background-image: linear-gradient(0deg, black 30%, transparent);")
        div(class="text-gray-400 top-0 absolute text-sm font-light px-4 my-4 md:px-16 md:my-6 flex w-full justify-between")
            div(class="badge flex border-2 bg-opacity-75 bg-blue-900 border-blue-400 transition-all duration-150 ease-in-out border-opacity-25 rounded-lg p-1 border-solid")
                div.h-8.w-12.rounded-md.before-blue
                    img.h-8.w-12.rounded-md.object-cover(src=article.autor.a)
                div.tx.h-8.transition-all.duration-150.ease-in-out
                    span.block.text-xs.text-gray-100.font-bold.uppercase= article.autor.u
                    span(style="font-size: 0.6rem").block.text-gray-300.font-light.uppercase= article.autor.p
            time= article.date.day + ' ' + article.date.month + ' ' + article.date.year
        h1(class="text-gray-200 bottom-0 absolute text-3xl font-black mx-4 my-6 md:mx-16 md:my-16 md:text-4xl leading-tight")= article.title