article(class="px-4 md:py-4")
    div(class="md:flex h-full")
        div(class="md:flex-shrink-0")
            img(class="rounded-lg md:w-56 object-cover h-full card" src=a.img alt="card")
        div(class="mt-4 md:mt-0 md:ml-6")
            div(class="uppercase tracking-wide text-sm text-blue-400 font-bold")= a.category
            a(href='/' + a.id class="block mt-1 text-lg leading-tight font-semibold text-gray-100 hover:underline")
                h2= a.title
            p(class="mt-2 text-gray-300")= a.description
            .flex.mt-2
                div.h-10.h-14.rounded-lg.before-blue
                    img.h-10.h-14.rounded-lg.object-cover(src=a.autor.a)
                div.px-2
                    span.block.text-sm.text-gray-100.font-bold.uppercase= a.autor.u
                    span.block.text-xs.text-gray-300.font-light.uppercase= a.autor.p